body{
    margin: 0;
}

.header{
    display: flex;
    background-color: #06141B;
    height: 8vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: 5px 5px 10px rgb(255, 255, 255);
    color:#CCD0CF;
    z-index: 1;

}
p{
    font-size: 12px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
li{
    font-size: 15px;
}
li:hover{
    background-color: rgb(255, 255, 255);
    color:#06141B;
    transform: scale(1.1);
    transition: transform 0.8s;
    border-radius: 5px;
}
section{
    display: flex;
     width: 100%;
     height: 100%;
     align-items: center;
     flex-direction: column;
     justify-content: space-evenly;
     background-color: #11212D;
     padding: 25px;
     margin-top: 1px;
     gap: 130px;

}


.principal{
    display:flex;
    width: 50%;  
    color:#CCD0CF;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;

}
.principal-descripcion{
    flex-direction: column;
}

.principal-descripcion h1{
    font-size: 50px;
}

.perfil{
    border-radius: 86px;
    border: 1px solid ;
    box-shadow: 2px 2px 10px #CCD0CF;

}
.perfil img{
    border-radius: 100px;
    width: 150px;
    height: 150px;
}
@media screen and (max-width: 500px) {
    .principal {
    display: flex;
      flex-direction: column;
    }
    .principal-descripcion h1{
        font-size: 30px;
    }
    
    
  }
  

  .skills {
    width: 90vh;
    height: 90vh;
    border: 1px solid #CCD0CF;
    text-align: center;
    color: #CCD0CF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(216, 215, 215); 
    position: relative; 
    
}

.skills-text h1 {
    font-size: 30px;
    transform: translateY(-130%);
    background-color: #11212D; 
    }

.skills-items{
    width: 89%;
    height: 60vh;
    min-width: 60vh;
    display: flex;
    gap: 15px;
    flex-flow: wrap;
    padding: 10px;
    
}
.skills-item{
    border: 1px solid  #CCD0CF;
    flex: 1 1 auto;
    height: 140px;
    width:140px;
    background-color: #4a5c6a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    
}

.skills-item:hover{
    transform: scale(1.1);
    transition: transform 0.6s;
    background-color: #3a4852;
    box-shadow: 0px 0px 10px #CCD0CF;

}

.skills-item img{
    height: 70px;
    width: 70px;

}

.experience{
    height: 60vh;
    width: 90vh;
    border: 1px solid #CCD0CF;
    text-align: center;
    color: #CCD0CF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(216, 215, 215); 
    position: relative; 
    
}

.experience-titulo h1{
    transform: translateY(-400%);
    background-color: #11212D; 
    font-size: 30px;
    color:#CCD0CF;
    height: 12px;
    
}


.experience-descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:flex-start;    
    flex-direction: column;
    color: #CCD0CF;
    height:200vh;
}
.experience-descripcion img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

footer {
    background-color: #06141B;
    width: 100%;
    padding: 20px;
    color: #CCD0CF;
    text-align: center;
}


